* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Sarabun', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: #423F3E;
    font-family: 'Sarabun', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.nav:hover {
    opacity: 0.7;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.typewrite span {
    color:#171010;
}

#parallax h1 {
    color: #fff;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  } */
  
  The typing effect
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
   

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #171010}
  }

/* .logo {
    color: rgba(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
} */

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    top: 4.20vh;
}


.nav-links li {
    list-style: none;

}
.nav-links a {
    color: rgba(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: rgba(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
        /* background-color: rgb(29, 28, 28); */
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 4vh;
       background-color: #423F3E;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translate(0%);
    height: 92vh;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {   
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.about {
    height: 200vh;
    display: flex;
    margin: 0!important;
}

.about-title {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    position: sticky;
    top: 10rem;
    padding: 0 6em;
    
}

.about-title p {
    margin: 1em 0em;
    text-align: justify;
    text-indent: 50px;
    text-justify: inter-word;

}

.container {
    padding-top: 36px;
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  .image {
    margin: 24px 0;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  
  /* .overlay {
    margin: 24px 0;
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    /* color: #f1f1f1; 
    width: 100%;
    height: auto;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    
  } */
  .container {
    min-width: 150px;
    display: flex;
    align-items: center;
    margin-top: 92px;
    justify-content: space-around;
  
  }

  .card0 {
    margin: 24px 0;
    background: url("AI-Kers.jpeg") center center no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-color: #121212;
    background-size: 300px;
    border-radius: 24px;
  }

  .card0:hover {
    background: url("AI-Kers.jpeg") left center no-repeat;
    background-size: auto;
    background-size: 600px;
  }
  
  
  .image-card .border {
    height: 290px;
    width: 290px;
    background: rgba(0,0,0,0);
    border-radius: 24px;
    transition: border 1s;
    position: relative;
    border: 1px solid #dee2e6 !important;
  }
* {
    transition: 1s;
}
  
  .image-card h3 {
    color: #fff;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
    font-weight: 700;
    font-size: 2em;
  }

  .card0:hover h3 {
    opacity: 1;
    text-shadow: 0px 0px 6px rgba(0,0,0,.7);
  }

.about-pages {
    width: 50%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    top: 10rem;
    padding: 0 6em;
}

.about-pages div> p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: #2B2B2B;
}

.about-pages div:nth-child(2) {
    background-image: url(bg-sample.png);
    background-size: cover;
    background-attachment: fixed;
}

#skills {
    padding: 8px;
}

#skills h3 {
    padding: 8px;
    font-size: 16px;
    /* text-decoration: underline; */
}

#skills li {
    padding: 4px 0;
    align-items: center;
    justify-content: center;
    /* list-style-type: none; */
}

.loader {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    animation: smokeOut 1s ease-in-out infinite alternate;
    text-shadow: 0 0 1px white;
  }

  .loader:before {
    content: "Coming soon!";
  }

  @keyframes smokeOut {
    100% {
      opacity: 0.08;
      filter: blur(5px);
      letter-spacing: 4px;
    }
  } 

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color: #423F3E;
    color: white;
}
.socials {
    align-items: center;
    justify-content: center;
}

.socials h3 {
    top: 4vh;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

    .social-title {
    padding-bottom: 28px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    }
        .social-icons {
              display: inline-flex;
              list-style: none;
              flex-direction: row; 
              justify-content: center;
              align-items: center;
              gap: 10px
        }
              
.socials ul li a i {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    color: white;
}

.socials ul li a i:hover {
    opacity: 0.7;
}

