* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Sarabun', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4vh;
    background-color: #423F3E;
    font-family: 'Sarabun', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

.nav:hover {
    color: white;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171010;
}

#parallax h1 {
    color: #fff;
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 ; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  } */
  
  The typing effect
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
   

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #fff}
  }

.logo {
    color: rgba(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    top: 4.20vh;
}

.nav-links li {
    list-style: none;

}
.nav-links a {
    color: rgba(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: rgba(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
        /* background-color: rgb(29, 28, 28); */
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 4vh;
       background-color: #423F3E;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translate(0%);
    height: 92vh;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {   
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.about {
    height: 200vh;
    display: flex;
    margin: 0!important;
}

.about-title {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: sticky;
    top: 10rem;
    
}

.about-pages {
    width: 50%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.about-pages div> p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: #2B2B2B;
}

.about-pages div:nth-child(2) {
    background-image: url(bg-sample.png);
    background-size: cover;
    background-attachment: fixed;
}



footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: space-around;
    background-color: #423F3E;
    color: white;
}
.socials {
    top: 4vh;
    margin: 10px;
    padding: 10px;
    align-self: center;
 
}
    .social-icons {
      display: inline-flex;
      list-style: none;
      flex-direction: row; 
    }


